/*general propouse css*/
$main-color: #e62918;
$standard-white: #fff;
$standard-black: #2f3237;
$black-A50: rgba($standard-black, 0.5);
$black-A25: rgba($standard-black, 0.25);
$black-A10: rgba($standard-black, 0.1);

@font-face {
  font-family: "Roboto";
  src: url("/resources/fonts/Roboto-Medium.ttf");
}

body {
  padding: 5% 2%;
  background-color: $black-A25;
  font-family: "Roboto";
}

.image-fluid {
  width: 100%;
  height: auto;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
}

.flex-center {
  @extend .d-flex;
  justify-content: center;
}
.flex-between {
  @extend .d-flex;
  justify-content: space-between;
}

@import "main", "header", "footer";
